<!-- Event snippet for iochain registration conversion page -->
<script>
  gtag('event', 'conversion', {'send_to': 'AW-860952307/fnkXCK3P0YABEPOtxJoD'});
</script>

<div id="welcome">
  <div class="container">
    <h1>Welcome and thanks for joining!</h1>
    <hr/>
    <p>Get started now:</p>
    <div class="buttons">
      <a class="btn btn-info" href="/application/new">Create your first application</a>
      <a class="btn btn-info" href="/account/payout">Configure your payout accounts</a>
      <a class="btn btn-info" href="/account/notifications">Configure your notification settings</a>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
