<% /* Note: This is injected into `views/layouts/layout-email.ejs` */ %>
<div style="padding: 25px; margin-top:10px; background-color: #14acc2; border-top-left-radius: 6px; border-top-right-radius: 6px; border: 1px solid #0c8da0;">
  <h2 style="text-align: center; color: #ffffff; margin:0px; font-size: 34px;">Welcome!</h2>
</div>
<div style="background-color: #ffffff; padding: 25px; margin-bottom: 25px; color: #303030;
  border-bottom-left-radius: 6px; border-bottom-right-radius: 6px; border: 1px solid #cccccc;">
  <p style="margin-bottom: 35px;">Welcome, <%= fullName %>!</p>
  <p>We are pleased to welcome you to ioChain! :-)</p>
  <p>If you need any help to get started, just reply to this email and we will be happy to help you.</p>
  <p></p>
  <p>Thanks again for joining</p>

</div>
