<div class="pull-right">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/account">Settings</a></li>
    <li class="breadcrumb-item"><a href="/account/payout">My Wallets</a></li>
    <li class="breadcrumb-item"><a href="/account/notifications">Notifications</a></li>
  </ol>
</div>
