<div id="">

  <%- partial('../generic-list', { title: 'Payout accounts', fields, list, objType: 'payoutAccount' }) %>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
