<div id="">

  <%- partial('../generic-list', { title: 'Notifications', fields, list, objType: 'notification' }) %>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
