<div id="faq">
  <div class="container">
    <h1>Frequently Asked Questions (FAQ)</h1>

    <div class="q-and-a">
      <hr/>
      <h4>Do you provide a free tier plan?</h4>
      <p>Sure, we provide a free plan for applications/websites having a small number of transactions. See the <a href="/plans">plan page</a> for more details.</p>

    </div>

    <div class="q-and-a">
      <hr/>
      <h4>Which cryptocurrencies do you support?</h4>
      <p>We currently only support Bitcoin. We will thus add more major currencies soon.</p>

    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
