<div id="faq">
  <div class="container">
    <h1>Docs</h1>

    <p>More documents will be added progressively.</p>

    <div class="q-and-a">
      <hr/>
      <h4><a href="/doc/callbackResponseFormat">Callback response format.</a></h4>
    </div>

  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
